@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Ubuntu Mono', monospace; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  user-select: none;
}

/* Add this in a custom CSS file or in a <style> block */
.blur-background::before {
  content: '';
  @apply absolute inset-0 bg-inherit blur-md;
}

